.record-button .toggled{
    .jitsi-icon svg{
        fill: red !important;
    }
}
.tutody-timer {
    position: fixed;
    top: 0;
    left: 0;
    padding: 1rem;
    font-size: 1.5rem;
    color: red;
}
.videocontainer{
    background: #000000 !important;
}

.new-toolbox .toolbox-content .button-group-center .toolbox-button:nth-child(2) .toolbox-icon {
    background-color: #fff;
    border: 1px solid #d1dbe8; 
    width: 40px;
    height: 40px;
}

.new-toolbox .toolbox-content .button-group-center .toolbox-button:nth-child(2) .toolbox-icon svg {
    fill: #5e6d7a;
}
.new-toolbox .toolbox-content .button-group-center .toolbox-button:nth-child(2) .toolbox-icon:hover {
    background-color: #daebfa;
}

.new-toolbox .toolbox-content .button-group-center .toolbox-button:nth-child(5) .toolbox-icon {
    background-color: #bf2117;
    border: 1px solid #bf2117; 
    width: 40px;
    height: 40px;
}

.new-toolbox .toolbox-content .button-group-center .toolbox-button:nth-child(5) .toolbox-icon svg {
    fill: #fff;
}
.new-toolbox .toolbox-content .button-group-center .toolbox-button:nth-child(5) .toolbox-icon:hover {
    background-color: #bf2117;
}

.new-toolbox .toolbox-content .button-group-center {
    background: #efe7e752;
    padding: 0.5rem;
    border-radius: 1.5rem;
    width: auto;
}
.vertical-filmstrip .filmstrip {
    z-index: 360; // display toggle side strip after padding
}

.new-toolbox .toolbox-content .button-group-center .raisehand-button .jitsi-icon {
    margin-left: -0.2rem;
}